server:
  servlet:
    encoding:
      force: true
  tomcat:
    uri-encoding: UTF-8
    use-relative-redirects: true
    max-swallow-size: 100000000
  max-http-request-header-size: 100000000

spring:
  jpa:
    open-in-view: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  web:
    resources:
      add-mappings: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  servlet:
    multipart:
      max-file-size: 150MB
      max-request-size: 150MB

logging:
  pattern:
    console: '%d{HH:mm:ss.SSS} %5p [%t] %c{36} - %m%n%ex{full}'

# Mybatis
mybatis:
  mapper-locations: mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
