@charset "UTF-8";

/* popup */
.popup_mask{opacity:0;
    visibility:hidden;
    position:absolute;
    width: 100%;
    height: 2000px;
    top:0; left:0; right:0; bottom:0;
    z-index: 98;
    /*overflow-y: auto;*/
    background-color:rgba(0,0,0,.5); transition:all .2s ease-in-out;}
.popup_mask.active{opacity:1; visibility:inherit;}
.popup{opacity:1; visibility:inherit;
    position:absolute;
    /*overflow: hidden;*/
    top:20px; left:0; right:0; z-index:99; width:100%;
    max-width:400px;
    margin:0 auto;
    padding:18px 24px 32px 24px;
    border-radius:20px;
    background-color:#fff; transition:all .5s ease-in-out; /* overflow:hidden;*/}
.popup.menu{
    /*top: 0;*/
    /*position: absolute;*/
    margin: 0;
    padding: 0;
}
.popup.menu .device_recommend{
    border-radius: 8px;
}
.tooltip{
    opacity:1; visibility:inherit;
    position:absolute;
    /*overflow: hidden;*/
    /*top:20px; left:0; right:0; */
    z-index:99;
    /*width:100%; max-width:400px; */
    /*margin:0 auto;*/
    border-radius:20px; background-color:#fff; transition:all .5s ease-in-out;
    margin: 0;
    padding: 0;
}
/*.popup.active{opacity:1; visibility:inherit;}*/
.popup .popup_title{color:#141218; font-size:16px; line-height:20px;}
.popup > .popup_text{margin-top:18px; color:#50505c; font-size:14px; line-height:20px;}
.popup .popup_cont{margin-top:36px; }
.popup .popup_cont .popup_text{color:#141218; font-size:18px; text-align:center; line-height:32px;}
.popup .popup_cont .sub_title{color:#4781ff; font-size:14px; margin-left: 4px; line-height:32px;}

.popup .popup_cont .popup_text .span{color:#4781ff;}
.popup .form:not(.user_form) .popup_cont .inp{line-height:50px;}
.popup .form:not(.user_form) .popup_cont .inp:focus{line-height:48px;}
.popup .popup_cont .btn.btn_medium{font-weight:400;}
.popup .popup_cont .btn.btn_small{min-width:58px; font-size:14px; line-height:29px;}
.popup .popup_cont .btn.btn_small:disabled{
    color: #B3B3BEFF;
    cursor: default;
}
.popup .popup_cont .ta_r .btn.btn_small{padding:1px 12px; border-radius:8px; font-size:16px; font-weight:400;}
.popup .popup_btn_box{margin-top:32px;}
.popup .popup_btn_box.btn_half{font-size:0; line-height:0;}
.popup .popup_btn_box.btn_half .btn{display:inline-block; width:calc(48% - 6px);}
.popup .popup_btn_box.btn_half .btn + .btn{margin-left:12px;}
.popup .popup_close{position:absolute; top:12px; right:24px; width:32px; height:32px; background:url(../images/popup/popup_close.png) no-repeat center / 32px; font-size:0;}
.popup .form_right_btn{margin-top:15px; text-align:right;}
.popup .form_right_btn .btn{display:inline-block; width:auto; min-width:149px;}
.popup .select_box .select_btn{height:52px;font-size: 14px}
.popup .select_box .select_btn:before{top:0; right:5px; width:32px; height:32px; background-size:32px;}
.popup .select_box .select_btn.type2:before{top:7px; right:5px; width:32px; height:32px; background-size:32px;}

.popup .select_box2 .dynamic_add_box{
    /*position: relative;*/
    /*display: inline-block;*/
    margin-top: 10px;
    font-size: 0;
    line-height: 0;
    /*height: inherit;*/
    float: left;
    padding: 2px 10px 0;
    width: 100%;
    /*text-align: left;*/
    /*background-color: #5a8ff7;*/
}
.popup .select_box2 .dynamic_add_box .add_inp{
    cursor: text;
    margin:0 0;
    padding-left:30px;
    color:#91939f;
    background-color: rgba(171, 197, 255, 0.37);
    border-radius: 8px;
    /*background:url(../images/check_icon.png) no-repeat left top 5px / 24px;*/
    font-size:14px; line-height:34px;
}
.popup .select_box2 .dynamic_add_box .add_btn{
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin:0 0;
    padding-left:30px;
    background:url(../images/btn_add_icon.png) no-repeat left top 5px / 24px;
    color:#4275e8;
    font-size:14px; line-height:34px;
}
.popup .select_box2 .dynamic_add_box .add_btn:hover{
    background-color: rgba(171, 197, 255, 0.37);
    border-radius: 8px;
}
.popup .select_box .select_layer.add_profile .select_item .button{padding:5px 10px;}
.popup .select_box .select_layer.add_profile .select_item .button .profile_img{display:inline-block; overflow:hidden; width:27px; height:27px; margin-right:8px; border-radius:50%; vertical-align:middle;}
.popup .popup_tab{width:100%;}
.popup .popup_tab .tab_list{margin:0 -4px;}
.popup .popup_tab .tab_list .tab_item{display:inline-block; width:calc(50% - 8px); margin:0 4px;}
.popup .popup_tab .tab_list.depth3{margin:0 -3px;}
.popup .popup_tab .tab_list.depth3 .tab_item{width:calc(33.33% - 6px); margin:0 3px;}
.popup .popup_tab .tab_list .tab_item .tab_btn{width:100%; padding:0 8px; border:1px solid #dde1e8; border-radius:8px; background-color:#fff; font-size:16px; text-align:center; line-height:50px;}
.popup .popup_tab .tab_list .tab_item.active .tab_btn{border-color:#4781ff; background-color:#4781ff; color:#fff;}

.more_select_item .button{
    font-size: 13px !important;
    line-height: 7px !important;
}

/*20240723 chan*/
.dynamic_btn{
    position:relative;
    padding:10px 32px 10px 12px; border:1px solid #dde1e8;
    border-radius:5px;

    background-color: rgba(223, 237, 255, 0.32);
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    width: 100%;
}
.dynamic_btn + .btn_clear{
    /*position: relative;*/
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0, -50%);
    width: 28px;
    height: 28px;
    background: url(../images/all_icon.png) no-repeat center / 100%;
}
.dynamic_btn + .btn_clear:hover{
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.46);
}

.dynamic_btn.empty_value{
    color: #858585;
}
.td .select_box .dynamic_btn{
    height: 41px !important;
}

.form_item .select_box .dynamic_btn{
    height: 52px !important;
}


/* 달력 */
.date_popup.solo{opacity:0; visibility:hidden;
    z-index: 99;
    position:absolute; top:50px; left:0; right:0; width:320px; margin:0; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16); transition:all .25s ease-in-out;}
.date_popup.solo.active{opacity:1; visibility:inherit;}
.date_popup .date_head{padding:6px 16px; background-color:#f4f5f9; text-align:center;}
.date_popup .date_head .span{color:#62626e; font-size:14px; font-weight:600; line-height:24px;}
.date_popup .date_head .date_btn2{overflow:hidden; position:relative; width:24px; height:24px; border:1px solid #dde1e8; border-radius:4px; background-color:#fff; font-size:0;}
.date_popup .date_head .date_btn2:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/arrow_icon2.png) no-repeat center / 30px auto;}
.date_popup .date_head .date_btn2:disabled:before{opacity:.3;}
.date_popup .date_head .date_btn2.btn_prev2{float:left;}
.date_popup .date_head .date_btn2.btn_prev2:before{transform:rotate(90deg);}
.date_popup .date_head .date_btn2.btn_next2{float:right;}
.date_popup .date_head .date_btn2.btn_next2:before{transform:rotate(-90deg);}
.date_popup .date_body{padding:12px 16px 16px 16px;}
.date_popup .tb_date .thead .th{padding:12px 5px; color:#91939f; font-size:14px; font-weight:400; text-align:center; line-height:16px;}

.date_popup .tb_date .tbody.week_calendar .tr .td.week_line{
    background-color: rgb(156, 187, 255);
}

.date_popup .tb_date .tbody.week_calendar .tr .td.week_line.week_start {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /*background-color: rgb(156, 187, 255);*/

}
.date_popup .tb_date .tbody.week_calendar .tr .td.week_line.week_end {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /*background-color: rgb(156, 187, 255);*/

}

.date_popup .tb_date .tbody .td{padding:0 1px 0 0; text-align:center;}
.date_popup .tb_date .tbody .td .button{width:40px; height:40px; color:#62626e; font-size:14px;}
.date_popup .tb_date .tbody .td.active .button{border-radius:4px; background-color:#4781ff; color:#fff;}
.date_popup .tb_date .tbody .td.active.start .button{border-radius:4px 0 0 4px;}
.date_popup .tb_date .tbody .td.active.end .button{border-radius:0 4px 4px 0;}
.date_popup .tb_date .tbody .td.mid .button{background-color:#e8f2fe;}
.date_popup .tb_date .tbody .td.today .button{
    border-radius:10px;
    border: 2px solid #759ef5;
    /*background-color:#4781ff;*/
    /*color:#fff;*/
}

.date_popup .tb_date .tbody .td.blocked{
    background-color: rgba(210, 210, 210, 0.78);
}

.date_popup .tb_date .tbody .td.blocked.block_start{
    border-top-left-radius: 4px;
}

.date_popup .tb_date .tbody .td.blocked.block_end{
    border-bottom-right-radius: 4px;
}

.date_popup .tb_date .tbody .td.blocked .button{
    color: #c0c0c0;
}

/*.date_popup .tb_date .tbody .td:not(.blocked) .button:hover,*/
.date_popup .tb_date .tbody:not(.week_calendar) .td:not(.disable):not(.blocked) .button:hover{
    border-radius:10px; background-color: #5b8dfd; color:#fff;
}

.date_popup .tb_date .tbody.week_calendar .tr:hover{
    border-radius:10px; background-color: #d8e4ff; color:#fff;
}


.date_btn_box{margin-top:26px; font-size:0; text-align:right; line-height:0;}
.date_btn_box .btn{width:58px; font-size:14px; line-height:29px;}
.date_btn_box .btn + .btn{margin-left:8px;}

.date_multi_popup{opacity:0; visibility:hidden; position:absolute; top:calc(100% + 8px); left:0; z-index:10; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16); transition:all .25s ease-in-out;}
.date_multi_popup.active{opacity:1; visibility:inherit;}
.date_multi_popup.active .date_select{display:inline-block; height:305px; border-right:1px solid #dde1e8; vertical-align:top;}
.date_multi_popup.active .date_select .select_item .select_btn{width:100%; padding:10px 16px; color:#62626e; font-size:14px; font-weight:600; text-align:left; line-height:16px;}
.date_multi_popup.active .date_select .select_item.active .select_btn{background-color:#f4f5f9;}
.date_multi_popup .date_popup{display:inline-block; vertical-align:top;}
.date_multi_popup .date_btn_box{margin-top:0; padding:16px; border-top:1px solid #dde1e8;}


.popup .popup_check_list > .li{display:block; position:relative; width:100%; margin:0;}
.popup .popup_check_list > .li + .li{margin-top:15px;}
.popup .popup_check_list > .li .check_inp{position:absolute; top:5px; left:5px;}
.popup .popup_check_list > .li .check_label{
    position:relative; padding-left:32px; color:#28272c; font-size:16px; font-weight:500; line-height:24px; min-height:24px;
}
.popup .popup_check_list > .li:hover .btn_clear:hover{
    background-color: rgba(164, 164, 164, 0.26);
    border-radius: 8px;
}
.popup .popup_check_list > .li .check_label.disable{
    color: #B3B3BEFF
}
.popup .popup_check_list > .li .check_label:before{display:block; position:absolute; top:0; left:0; width:24px; height:24px; background:#fff url(../images/check_icon.png) no-repeat center / 24px;}
.popup .popup_check_list > .li .check_text{
    display:inline-block; width:calc(100% - 32px); height:24px; border:0; color:#28272c; font-size:16px; font-weight:500; vertical-align:top;}
.popup .popup_check_list > .li .check_inp:checked + .check_label:before{background-image:url(../images/check_icon_on.png);}
.popup .popup_check_list > .li .inp{
    display: inline-block;
    visibility: inherit;
    width: 100%;
    /*height: 20px;*/
    /*line-height: 16px;*/
}

.font_visible{
    font-size: 16px;
    top: 21px;
    right: 50px;
    position: relative;
    color: #838383;
}

/* 동적 목록 */
/* select */
.select_box2{display:inline-block;
    position: absolute; font-size:0; line-height:0;opacity: 0;
    /*margin-left: 2px;*/

    pointer-events: none;
    /*min-width: 140px;*/
    /*max-width: 300px;*/
    /*!*width: 300px;*!*/
}
.select_box2.active{opacity: 1;z-index: 199;pointer-events: inherit;}
.select_box2 + .select_box2{margin-top:20px;}
.select_box2 .select_inp{position:relative;
    /*width: 100%;*/
    width: 160px;
    padding:0 16px; border:1px solid #dde1e8;
    border-radius:8px; color:#141218; font-size:14px;
    text-align:left; line-height:40px;}
.select_box2 .select_inp:disabled{color:#91939f;}
.select_box2 .select_inp:before{
    display:block; position:absolute;
    top:20px; right:12px;
    width:16px; height:16px; background:url(../images/select_arrow.png) no-repeat center / 100%}
.select_box2 .select_layer{
    opacity:0;
    max-width: 300%;
    visibility:hidden;
    position:absolute; top:100%; left:0; right:0; padding:8px 6px;
    border-radius:8px; background-color:#fff; box-shadow:0 16px 24px rgba(20, 18, 24, 0.16);
    font-size:0; line-height:0;
    transition:all .25s ease-in-out;
    text-align: center;
}
.select_box2 .select_layer.active{opacity:1; visibility:inherit; top:calc(100% + 8px); z-index:1;}
.select_box2 .select_layer .layer_title:before{
    position: relative; display: inline-block;
    top:4px; right:2px; width:17px; height:17px;
    background: url(../images/btn_add_icon.png) no-repeat center / 100%;
}

.select_box2 .select_layer .layer_title{
    width: 100%;
    padding:7px 14px 9px 10px;
    color:#4781ff;
    font-size:12px; line-height:14px;
    word-break:keep-all;
    /*background-color: #91939f;*/
}
.select_box2 .select_layer .layer_title:hover{
    background-color: rgba(113, 154, 241, 0.27);
    border-radius: 10px;
}

.select_box2 .select_layer .layer_item{position:relative; padding:0 42px;border-radius: 6px}
.select_box2 .select_layer .layer_item.active,
.select_box2 .select_layer .layer_item:hover,
.select_box2 .select_layer .layer_item:active{background-color: #e2e2ea;}
.select_box2 .select_layer .layer_item.focus_input{background-color: #d5e4ff;}
.select_box2 .select_layer .layer_item.focus_input{
    border: 2px #4781ff solid;
    border-radius: 5px;
}
.select_box2 .select_layer .layer_item .drag_handle{
    position:absolute;
    top:6px; left:10px;
    width:24px; height:24px;
    background:url(../images/select2_type.png) no-repeat center / 100%;
    cursor: pointer;
}

.select_box2 .select_layer .layer_header{
    height: 40px;
    position:relative;
    padding:0 14px;
    margin-bottom: 5px;
    text-align: left;
    /*border-bottom: 1px solid #606060;*/
    border-radius: 6px;
    background-color: #f3f3f3;
}
.select_box2 .select_layer .layer_header .inp_search{
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    /*border: 1px solid black;*/
    /*border-radius: 8px;*/
    background-color: rgba(0, 0, 0, 0);
    padding: 1px 1px 1px 8px;
}
.select_box2 .select_layer .layer_header .btn_del{
    display:block;
    width:100%;
    padding:8px 0; color: #ff2d2d;
    font-size:12px; text-align:left; line-height:14px;
    background-color: rgba(90, 143, 247, 0);
}
.select_box2 .select_layer .layer_item .layer_btn{
    display:block;
    width:100%;
    padding:10px 0; color:#62626e; font-size:14px; text-align:left; line-height:16px;
    background-color: rgba(90, 143, 247, 0);
}
.select_box2 .select_layer .layer_item .layer_btn:read-only{
    cursor: pointer;
}

/*20240723 chan */
.select_box2 .select_layer .add_item{
    background-color: rgba(71, 129, 255, 0.24);
    border-radius: 10px;

}
.select_box2 .select_layer .add_item .layer_btn{
    display:block;
    width:100%;
    text-align: center;
    padding:10px 0;
    color: #ffffff;
    font-size:14px; line-height:16px;
}


.select_box2 .select_layer .layer_item.active .layer_btn{color:#4781ff;}
.select_box2 .select_layer .layer_item .layer_more_btn{position:absolute; top:6px; right:10px; width:24px; height:24px; background:url(../images/select2_more.png) no-repeat center / 100%;}

.layer_more{
    opacity:0;
    visibility:hidden;
    position:absolute; left:-50%; z-index:1; width:232px; padding:8px 6px; border-radius:8px; background-color:#fff; box-shadow:0 16px 24px 0 rgba(20, 18, 24, 0.16); transition:all .25s ease-in-out;
}
.layer_more.active{opacity:1; visibility:inherit;}
.layer_more .more_inp{position:relative;}
.layer_more .more_inp .inp{padding-left:10px; border:1px solid #4781ff; background-color:#f4f5f9; color:#91939f; font-size:14px; line-height:34px;}
.layer_more .more_inp .more_icon{position:absolute; top:8px; right:10px; width:20px; height:20px; background:url(../images/more_icon2.png) no-repeat center / 100%;}
.layer_more .more_del{position:relative; padding-left:48px; color:#62626e; font-size:14px; line-height:48px;}
.layer_more .more_del:before{display:block; opacity:.3; position:absolute; top:2px; left:8px; width:42px; height:42px; background:url(../images/popup/filter_del.png) no-repeat center / 100%;}
.select_box2 .select_layer .layer_item.create .drag_handle{width:30px; padding:0; background:none; color:#62626e; font-size:14px; line-height:24px;}
.select_box2 .select_layer .layer_item.create .layer_btn{width:auto; padding:10px 6px; border-radius:4px; background-color:#f0f5ff;}

/*20250721 문제 정보 모달창*/
.solved_detail_cont{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.solved_detail_cont .top_cont{
    height: 25%;
}
.solved_detail_cont .top_cont .detail_panel{
    height: 60%;
    padding: 12px 26px;
    background-color: #333333;
}
.solved_detail_cont .top_cont .detail_panel .rank_icon{
    width: 24px;
    height: 38px;
    margin-bottom: 1px;
}
.solved_detail_cont .top_cont .detail_panel .problem_num{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1px;
    color: white;
}
.solved_detail_cont .top_cont .detail_panel .problem_title{
    font-size: 24px;
    font-weight: 550;
    color: white;
}
.solved_detail_cont .top_cont .option_header_group{
    height: 40%;
    display: flex;
}
.solved_detail_cont .top_cont .option_header_group .left_code_option_panel{
    width: 50%;
    background-color: #a8a8a8;
    display: flex;
}
.solved_detail_cont .top_cont .option_header_group .right_code_option_panel{
    width: 50%;
    background-color: #808080;
    display: flex;

}
.solved_detail_cont .top_cont .option_header_group .select_section{
    padding: 4px 24px;
    align-content: center;
    background-color: grey;
    width: 60%;
}
.solved_detail_cont .top_cont .option_header_group .left_code_option_panel .select_section{
    text-align: left;
}
.solved_detail_cont .top_cont .option_header_group .right_code_option_panel .select_section{
    text-align: right;
}
.solved_detail_cont .top_cont .option_header_group .select_section .btn_select_user{
    background-color: #3a3a3a;
    width: 150px;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 8px;
    color: white;
}

.solved_detail_cont .top_cont .option_header_group .info_section{
    background-color: #a0b1b6;
    width: 40%;
    padding: 4px 24px;
    font-weight: 460;
}
.solved_detail_cont .top_cont .option_header_group .left_code_option_panel .info_section{
    justify-items: end;
}
.solved_detail_cont .top_cont .option_header_group .right_code_option_panel .info_section{
    justify-items: start;
}
.solved_detail_cont .top_cont .option_header_group .info_section .lang_text{

}

.solved_detail_cont .bottom_cont{
    background-color: #ffd6d6;
    height: 75%;
    display: flex;
}

.solved_detail_cont .bottom_cont .left_code_panel{
    background-color: #5e5e5e;
    width: 50%;
    height: 100%;
    overflow-y: auto;
}
.solved_detail_cont .bottom_cont .right_code_panel{
    background-color: #737373;
    width: 50%;
    height: 100%;
    overflow-y: auto;
}


/*반응형*/
@media all and (max-width:1000px){
    .popup{width:calc(100% - 40px); padding:18px; border-radius:10px;}
    .popup .popup_title{font-size:15px;}
    .popup .popup_cont{margin-top:15px;}
    .popup .popup_cont .popup_text{font-size:16px; line-height:26px;}
    .popup .popup_btn_box{margin-top:20px;}
    .popup .popup_close{right:12px;}
    .popup .form:not(.user_form) .popup_cont .inp{line-height:42px;}
    .popup .form:not(.user_form) .popup_cont .inp:focus{line-height:40px;}
    .popup .form_right_btn .btn{min-width:auto;}
    .popup .popup_tab .tab_list .tab_item .tab_btn{border-radius:5px; font-size:14px; line-height:42px;}
    .popup .select_box .select_btn{height:42px; padding:10px 24px 10px 12px; border-radius:5px; font-size:14px;}
    .popup .popup_check_list > .li .check_label{font-size:14px;}
    .date_popup.solo{width:290px;}
    .date_popup .tb_date .thead .th{font-size:13px;}
    .date_popup .tb_date .tbody .td .button{width:35px; height:35px; font-size:13px;}
}