<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanco.hanco.mapper.SolvedAcMapper">
    <select id="getAllUsers">
        select id, name,
               (
                   select IF(count(*) > 0, true, false)
                   from tb_mark_problem mp
                   where mp.user_id=id and week_id=date_format(#{date}, '%Y-%u')
                   and mp.problem_id in (
                       select ws.problem_id
                       from tb_weekly_shared_problem ws
                       where ws.week_id=date_format(#{date}, '%Y-%u')
                       )
                   ) as shared_solved,
               (
                   with recursive base as (
                       select (
                                  select max(week_dt)
                                  from tb_weekly_solved
                              ) as dt, 0 as cnt
                       union all
                       select date_sub(dt, interval 1 week ) as dt,
                              cnt+1 as cnt
                       from base
                                left outer join tb_weekly_solved ws on date_format(dt, '%Y-%u')=ws.week_id and ws.id=u.id
                       where ws.complete_st=1
                   )
                   select max(cnt)
                   from base
               ) as streak
        from tb_solved_user u
    </select>

    <select id="getWeeklySharedSolved">
        with base as (
            select id,
                   (
                       select IF(count(*) > 0, true, false)
                       from tb_mark_problem mp
                       where mp.user_id=id and week_id=date_format(#{date}, '%Y-%u')
                         and mp.problem_id in (
                           select ws.problem_id
                           from tb_weekly_shared_problem ws
                           where ws.week_id=date_format(#{date}, '%Y-%u')
                       )
                   ) as shared_solved
            from tb_solved_user
        )

        select json_objectagg(id,shared_solved)
        from base
    </select>

    <select id="getAllUsersLastRead">
        select id,
               last_read
        from tb_solved_user
    </select>

    <update id="updateLastRead">
        update tb_solved_user
        set last_read=#{lastRead},
            last_read_time=now()
        where id=#{id}
    </update>

    <select id="getUsersByProblem">
        with base as (
            select user_id,
                   lang,
                   elapsed_tm,
                   used_mem,
                   row_number() over (partition by user_id, lang order by elapsed_tm) as rownum
            from tb_mark_problem
            where problem_id=#{id} and result_id=4
        )
        select user_id,(
            select name
            from tb_solved_user u
            where u.id=base.user_id
                   ) as name,
            lang,
            elapsed_tm,
            used_mem
        from base
        where rownum=1
    </select>

    <select id="getContinuousCompleteCount">
        select u.id,
               (
                   with recursive base as (
                       select (
                                  select max(week_dt)
                                  from tb_weekly_solved
                              ) as dt, 0 as cnt
                       union all
                       select date_sub(dt, interval 1 week ) as dt,
                              cnt+1 as cnt
                       from base
                                left outer join tb_weekly_solved ws on date_format(dt, '%Y-%u')=ws.week_id and ws.id=u.id
                       where ws.complete_st=1
                   )
                   select max(cnt)
                   from base
               ) as cnt
        from tb_solved_user u
    </select>

    <insert id="insertMarkedProblems">
        INSERT INTO tb_mark_problem
        (user_id, problem_id, submit_id, week_id, result_id, elapsed_tm, used_mem, lang, err_txt, try_dt)
        VALUES
        (
            <foreach collection="list" item="item" separator="),(">
                #{item.username},#{item.problemId},#{item.submitId},date_format(#{item.date},'%Y-%u'),#{item.resultId},#{item.elapsedTm},#{item.usedMem},#{item.lang},#{item.errorText},#{item.date}
            </foreach>
        )
    </insert>

    <select id="getBaekjoonProblems">
        WITH base AS (
            SELECT
                us.id,
                mp.problem_id,
                bp.title,
                bp.level,
                mp.result_id,
                mp.err_txt,
                mp.try_dt,
                mp.submit_id
            FROM tb_solved_user us
                     LEFT OUTER JOIN tb_mark_problem mp ON us.id = mp.user_id
                     LEFT OUTER JOIN tb_baekjoon_problem bp ON mp.problem_id = bp.problem_id
            WHERE mp.try_dt BETWEEN #{fromDate} AND #{toDate}
        ),
             numbered AS (
                 SELECT
                     bs.*,
                     (@rownum := IF(@group = CONCAT(id, problem_id), @rownum + 1, 1)) AS rownum,
            (@group := CONCAT(id, problem_id)) AS dummy
        FROM base bs, (SELECT @rownum := 0, @group := '') AS vars
        ORDER BY id, problem_id, result_id, try_dt
            ), final as (
        SELECT *,
               (
                   select IF(count(*)> 0, 1, 0)
                   from tb_weekly_shared_problem wsp
                   where week_id=date_format(#{fromDate},'%Y-%u') and wsp.problem_id = n.problem_id
                   ) as is_shared_problem,
               (
                   select json_arrayagg(name)
                   from (
                            select distinct name
                            from tb_mark_problem mp
                             left outer join tb_solved_user su on mp.user_id=su.id
                            where n.problem_id = mp.problem_id and mp.user_id != n.id and mp.result_id=4
                        ) tmp
               ) as co_solvers
        FROM numbered n
        where rownum=1
        ORDER BY result_id, level desc
            )

       <![CDATA[
        select id,
               IFNULL(
                       (
                           select
                               sum(
                                       case
                                           when f2.level <= 0 then 10
                                           when f2.level > 0 and f2.level <=5 then 20
                                           when f2.level > 5 and level <=10 then 30
                                           when f2.level > 10 and f2.level <=15 then 50
                                           when f2.level > 15 then 80
                                           else 0
                                           end
                               )
                           from final as f2
                           where f2.id=final.id and f2.result_id=4
                       ), 0
               ) as score,
               json_arrayagg(json_object(
                           'problem_id', problem_id,
                            'title', title,
                            'level', level,
                            'result_id', result_id,
                            'submit_id', submit_id,
                             'err_txt', err_txt,
                             'try_dt', try_dt,
                            'is_shared_problem', is_shared_problem,
                             'co_solvers', co_solvers
                             )) as problems
        from final
        group by id
        ]]>

    </select>

    <select id="existBaekjoonProblem">
        SELECT count(*) > 0
        from tb_baekjoon_problem
        where problem_id=#{problemId}
    </select>

    <select id="getProblemInfoList">
        select problem_id, title, level,
               (
                   select count(mp.submit_id)
                   from (
                       select m.problem_id,
                              m.submit_id,
                              row_number() over (partition by m.user_id, m.problem_id order by submit_id) as rownum
                       from tb_mark_problem m
                       where result_id=4
                        ) mp
                   where mp.problem_id=bp.problem_id and rownum=1
                   ) as solved_cnt
        from tb_baekjoon_problem bp
        where title like '%${keyword}%' or problem_id=#{keyword}
    </select>

    <insert id="insertBaekjoonProblem">
        INSERT INTO tb_baekjoon_problem
        (problem_id, title, level)
        values (#{problemId},#{title},#{level})
    </insert>


    <insert id="insertWeeklyScore">
        <![CDATA[
        set @to_date := (SELECT CURDATE());
        set @from_date := (SELECT SUBDATE(@to_date, interval 6 day));

        INSERT INTO tb_weekly_solved
            (week_id, id, score, week_dt, complete_st, fine)
        select week_id,
               id,
               score,
               week_dt,
               IF(score >= ${target}, 1, 0) as complete_st,
               IF(score < ${target}, ${fine}, 0)as fine
        from (
                 select date_format(@to_date, '%Y-%u') as week_id,
                        u.id as id,
                        (
                            select IFNULL(sum(case
                                                  when level <= 0 then 10
                                                  when level > 0 and level <=5 then 20
                                                  when level > 5 and level <=10 then 30
                                                  when level > 10 and level <=15 then 50
                                                  when level > 15 then 80
                                                  else 0
                                end), 0)
                            from (
                                     select mp.user_id,
                                            mp.problem_id,
                                            min(elapsed_tm) as time
                                     from tb_mark_problem mp
                                     where mp.user_id=u.id and date_format(mp.try_dt, '%Y-%u')=date_format(@to_date, '%Y-%u') and result_id=4
                                     group by mp.user_id, mp.problem_id
                                 ) mp2
                                     left outer join tb_baekjoon_problem bp on bp.problem_id=mp2.problem_id
                        ) as score,
                        DATE_FORMAT(@from_date, '%Y-%m-%d') as week_dt
                 from tb_solved_user u
             ) base
        ]]>
    </insert>

    <insert id="insertSharedProblem">
        INSERT INTO tb_weekly_shared_problem
        (week_id, problem_id)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (date_format(#{date}, '%Y-%u'), #{item})
            </foreach>
    </insert>

    <select id="getSharedProblem">
        select ws.problem_id,
               bp.title,
               bp.level,
               (
                   select count(submit_id)
                   from (
                       select *,
                              row_number() over (partition by m.user_id, m.problem_id order by submit_id) as rownum
                       from tb_mark_problem m
                       where result_id=4
                        ) mp
                   where mp.problem_id=ws.problem_id and rownum=1
                   ) as solved_cnt
        from tb_weekly_shared_problem ws
        left outer join tb_baekjoon_problem bp on bp.problem_id=ws.problem_id
        where week_id=date_format(#{date},'%Y-%u')
    </select>

    <delete id="deleteSharedProblemAll">
        DELETE FROM tb_weekly_shared_problem
        WHERE week_id=date_format(#{date}, '%Y-%u');
    </delete>

    <select id="getTotalFine">
        with base as (
            SELECT id,
                   name,
                   amount,
                   dense_rank() over (order by amount desc ) as ranking
            FROM (
                     SELECT u.id,
                            u.name,
                            (
                                select IFNULL(sum(fine), 0)
                                from tb_weekly_solved ws
                                where ws.id=u.id
                            ) as amount
                     FROM tb_solved_user u
                 ) tmp
            order by amount desc
        )
        select sum(amount) as sum,
               json_arrayagg(json_object(
                             'id',id,
                             'name',name,
                             'amount',amount
                             )) as user_list
        from base
    </select>

    <select id="getMonthFine">
        with month_weeks as (
            select id,
                   fine,
                   row_number() over (partition by id order by week_dt) as rownum
            from tb_weekly_solved
            where week_dt like '${date}%'
            order by rownum
        ), sum as (
            select id,
                   IFNULL(sum(fine) , 0) as amount,
                   json_arrayagg(IF(fine > 0, rownum, -1)) as week_list
            from month_weeks
            group by id
        ), final as (
            SELECT u.id,
                   u.name,
                   s.amount,
                   s.week_list
            FROM tb_solved_user u
                     left outer join sum s on s.id=u.id
        )
        select IFNULL(sum(amount), 0) as sum,
               json_arrayagg(json_object(
                             'id', id,
                             'name', name,
                             'amount', amount,
                             'week_list', week_list
                             )) as user_list
        from final
        order by amount
    </select>

    <select id="getWeeklyResult">
        select rank() over (order by week_dt) as week,
               json_arrayagg(json_object(
                             'id', id,
                             'name', (
                                 select name
                                 from tb_solved_user u
                                 where u.id=ws.id
                                 ),
                             'score', score
                             )) as list
        from tb_weekly_solved ws
        where week_dt like '${date}%' and complete_st=0
        group by week_dt
    </select>
</mapper>