<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baektracker.mapper.ProblemMapper">
    <select id="countUsersProblemSolved">
        select count(p.problem_id)
        from (
        <foreach collection="list" item="item" separator="union all">
            select #{item} as id from dual
        </foreach>
        ) ids
        left outer join solved_problems p on ids.id=p.problem_id and p.result_id=4
        group by ids.id
        order by ids.id
    </select>

</mapper>