<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanco.hanco.mapper.WeeklyResultMapper">
    <select id="getStreaks">
        select u.id,
               (with recursive base as (select #{date} as dt,
                                               0       as cnt
                                        union all
                                        select date_sub(dt, interval 1 week)  as dt,
                                               IF(ws.state = 1, cnt + 1, cnt) as cnt
                                        from base
                                                 left outer join weekly_results ws
                                                                 on date_format(dt, '%Y-%u') = ws.year_week and ws.id = u.id
                                        where ws.state = 1
                                           or ws.state = 3)
                select max(cnt)
                from base) as streak
        from users u
    </select>
    <update id="updateWeekPass">
        update weekly_results
        set state=#{state}
        where user_id = #{username}
          and year_week = date_format(#{date}, '%Y-%u')
    </update>

    <select id="getWeeklyResults" resultType="com.hanco.hanco.domain.weekly_result.dto.WeeklyResultResponseDto">
        select id,
               score,
               state
        from weekly_results ws
        where ws.year_week = date_format(#{date}, '%Y-%u')
    </select>

</mapper>
