<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baektracker.mapper.WeeklyResultMapper">
    <select id="getStreaks">
        set @start_date := (select date_sub(#{date}, interval weekday(#{date}) day));

        select u.id,
               (with recursive base as (select @start_date as dt,
                                               0           as cnt,
                                               0           as state
                                        union all
                                        select date_sub(dt, interval 1 week) as dt,
                                               cnt + (ws.state = 1)          as cnt,
                                               ws.state                      as state
                                        from base
                                                 left outer join weekly_results ws
                                                                 on ws.year_week =
                                                                    date_format(date_sub(dt, interval 1 week), '%Y-%u') and
                                                                    ws.user_id = u.id
                                        where ws.state in (1, 3))
                select max(cnt)
                from base) as streak
        from users u
    </select>
</mapper>
